.profile-page {
    background: var(--ion-color-primary);
    border-radius: 25px;
    padding-bottom: 18vh;
}

.custom-avatar-image {
    transform: translateY(5vh);

    ion-avatar {
        width: 25vh;
        height: 25vh;
        border: 3px solid var(--ion-color-warning);
        padding: 0.8vh;
        margin-bottom: 6vh;
    }

    ion-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

ion-item {

    ion-label {
        font-size: 1.5rem;
        font-weight: 600;

        p {
            font-size: 1rem;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}