ion-content {
    --background: #efefef;

    #header {
        height: 40vh;
        background: #613FA0;
        border-radius: 0 0 7vh 7vh;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 1rem;


        #app-bar {
            height: 25vh;
            display: flex;
            justify-content: center;
            align-items: center;


            #logo {
                width: 25vh;
                height: 25vh;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5vh;
                align-self: center;


                img {
                    width: 70%;
                }
            }
        }

        h1 {
            font-size: 1.8rem;
            text-align: center;
            margin-top: 1rem;
        }
    }

    .wrapper {
        position: absolute;
        top: 32vh;
        left: 2vh;
        right: 2vh;

        .form-wrapper {

            box-shadow: none;
            border-radius: 1rem;
            padding: 0.5rem 1rem;

            ion-item {
                --background: #efefef;
                margin-bottom: 1rem;
            }
        }
    }

    ion-button {
        --background: #613FA0;
        --color: #fff;
        --border-radius: 0.5rem;
    }
}