@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-color-button-color: #613FA0;
  --ion-color-light-purple: #c084fc;
  --ion-color-custom-gray: #e0dfe6;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.ion-color-button-color {
  --ion-color-base: var(--ion-color-button-color);
}

.ion-color-light-purple {
  --ion-color-base: var(--ion-color-light-purple);
}

.ion-color-custom-gray {
  --ion-color-base: var(--ion-color-custom-gray);
}

.ion-item-selected {
  background-color: #613FA0;
}

ion-toast.custom-toast {
  --background: #613FA0;
  --color: #fff;
  --border-color: #613FA0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}